ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.main_wrp {
  min-height: 700px; }

a:focus, a:hover, a:active {
  text-decoration: none;
  outline: none; }

.pad_0 {
  padding: 0 !important; }

.marg_0 {
  margin: 0; }

.side_bar {
  width: 11%;
  background-color: #305896; }

.side_bar ul {
  display: flex;
  flex-direction: column; }

.side_bar ul span {
  font-size: 12px;
  font-weight: 300;
  margin-top: 4px;
  text-transform: uppercase; }

.side_bar i {
  color: #fff;
  font-size: 43px; }

.side_bar ul a {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  color: #fff;
  height: 100%;
  width: 100%;
  background: transparent !important; }

.side_bar ul a:hover {
  background-color: transparent !important; }

.side_bar li.active, .side_bar li:hover {
  background-color: #008DD8; }

.side_bar li {
  min-height: 110px;
  transition: background ease-in-out 0.3s; }
  .side_bar lihover {
    background-color: #fff; }

.right_container {
  display: block;
  width: 89%; }

.main_heading {
  font-weight: bold; }

.comn_pad {
  padding-right: 25px;
  padding-left: 25px; }

.header {
  padding: 17px 25px; }

.inner_tabs {
  padding: 15px 0;
  display: flex;
  justify-content: left; }
  .inner_tabs li {
    background-color: #e8eceb;
    margin-right: 4px; }

.inner_tabs.nav a {
  color: #000;
  font-size: 17px;
  text-align: center;
  width: 170px;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 9px 15px !important;
  text-transform: uppercase; }

.nav-pills.inner_tabs li.active a {
  border: 1px solid #ddd;
  background-color: #fff !important;
  color: #333 !important; }

.bdr_tb {
  border-top: 2px solid #ddd;
  border-bottom: 1px solid #ddd; }

.icons_wrp {
  list-style: outside none none;
  padding-top: 15px;
  padding-left: 0;
  margin-bottom: 0; }
  .icons_wrp li {
    background-color: #EAECE9;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 32%; }
    .icons_wrp li a {
      align-items: center;
      display: flex;
      height: 250px;
      justify-content: center; }
      .icons_wrp li a img {
        max-height: 170px; }

.light_bdr_tb {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.latest_box {
  padding: 15px 0; }

.padd_15tb {
  padding-bottom: 15px;
  padding-top: 15px; }

.latest_box ul {
  list-style: outside none none;
  padding-left: 10px; }
  .latest_box ul li {
    font-size: 16px;
    margin-bottom: 0.6em;
    position: relative; }
    .latest_box ul li:before {
      color: #305896;
      content: "\f04d";
      font-family: FontAwesome;
      font-size: 14px;
      margin-right: 15px; }

.drop_down_btn {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #333;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  padding-left: 25px; }
  .drop_down_btn:before {
    color: #999;
    content: "\f107";
    font-family: FontAwesome;
    font-size: 31px;
    left: 0;
    position: absolute;
    transition: all ease-in-out 0.3s;
    top: -12px; }

.dropdown-menu {
  border-color: #ddd;
  border-radius: 0;
  padding: 0; }
  .dropdown-menu li a {
    background: #305896 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s; }
    .dropdown-menu li a:hover {
      background-color: #008DD8;
      color: #fff; }

.main_flex {
  display: flex;
  flex-direction: row; }

/*========================login-resgister form css==========================*/
.form_hero {
  min-height: 651px;
  background-color: #305896; }

.form_head {
  color: #fff; }

.cookie_wrp {
  font-size: 15px;
  padding: 20px 0;
  background-color: #fff; }

.cookie_inner {
  align-items: center;
  display: flex;
  justify-content: center; }

.cookie_inner button {
  background: #305896 none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  transition: background-color 0.3s ease 0s; }
  .cookie_inner button:hover, .cookie_inner button:focus {
    color: #fff;
    background-color: #008DD8; }

.cookie_wrp {
  bottom: 0;
  position: fixed;
  width: 100%; }

.custm_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 580px; }

.custm_form_inner {
  background-color: #fff;
  border-radius: 9px;
  padding: 30px 50px; }

.custm_form_inner input {
  border-radius: 0;
  color: #999;
  font-size: 1.4em;
  height: 55px;
  transition: all ease-in-out 0.3s;
  padding: 2%;
  text-align: center; }
  .custm_form_inner input:focus, .custm_form_inner input:active {
    box-shadow: none;
    border-color: #eee; }

.form_header p {
  font-size: 20px;
  position: relative; }

.form_header p::after, .form_header p::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 1px;
  position: absolute;
  top: 11px;
  width: 100px; }

.form_header {
  margin: 0 auto 25px;
  width: 50%; }

.form_header p {
  font-size: 17px;
  position: relative; }

.form_header p::after {
  left: 0; }

.form_header img {
  max-height: 45px; }

.form_logo_wrp {
  align-items: center;
  background: #008DD8;
  border-radius: 50%;
  display: flex;
  height: 90px;
  justify-content: center;
  margin: 0 auto 25px;
  width: 90px; }

.form_header p::before {
  right: 0; }

.custm_form_inner button {
  background-color: #ececec;
  border: medium none;
  font-size: 1.2em;
  padding: 10px;
  text-transform: uppercase;
  width: 100%; }

.error-text{
  color: red;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
